.formulir{
	margin:0 auto;
	background-color: #4366A3;
	width: 100%;
	height: auto;
	border-radius: 7px;
	color: white;
	padding: 50px 0 120px 0;
}
h2{
	margin-top: 0px;
	text-align: center;
	padding-top: 20px;
}
form{
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.form-control{
	height: 34px;
}
button{
	margin-top: 0px;
	position: absolute;
	right: 20px;
}

button .btn{
	
}

@media (min-width: 992px){
	.formulir{
		margin:0 auto;
		background-color: #4366A3;
		width: 940px;
		height: auto;
		border-radius: 7px;
		color: white;
		padding: 50px 0 120px 0;
	}
	h2{
		margin-top: 0px;
		text-align: center;
		padding-top: 20px;
	}
	form{
		padding-top: 50px;
		padding-left: 100px;
		padding-right: 100px;
		position: relative;
	}
	.form-control{
		height: 34px;
	}
	button{
		margin-top: 0px;
		position: absolute;
		right: 100px;
	}
}