

*{
    font-family: arial, Sans-serif;
    padding: 0;
    margin: 0; 
    /*background-color: #4366A3;*/
}
.wrapper{
    width: 100%;
}
.header{
    background-color: #4366A3;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
    border-bottom: 3px solid #CCAC02;
}
.header h1{
    margin-left: 40px;
    font-style: normal;
    font-size: 30px;
}
.logo1{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    padding-right: 20px;
    padding-left: 20px; 
    margin-left: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;

}
nav a{
    transition: 0.2s;
}
nav a:hover{
    background-color: #CCAC02;
    text-decoration: none;
    color: white;
    height: 50px;
    box-sizing: border-box;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px; 
}
a .beranda{
    background-color: #799664;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    color: black;
}
.penjelasan{
    width: 100%;
    height: 341px;
    background-color: #4366A3;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-top: 30px; 
    box-sizing: border-box;
    border-top: 3px solid #CCAC02;
    border-bottom: 3px solid #CCAC02;
    margin-top: 50px; 
}
footer{
    border-top: 3px solid #CCAC02;
    margin-top: 50px;
    width: 100%;
    height: 225px;
    background-color: #000000;
}
footer .f1{
    text-align: center; 
    margin-top: 15px;
    font-size: 24px;
}
footer .f2{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
footer .f3{
    text-align: center;
    font-size: 18px;
    margin-top: 23px;
    color: white;
}

/*CSS Hasil Form*/
.hasil{
    width: 65%;
    height: 900px;
    border: 1px solid black;
    margin: 20px auto;
    position: relative;
}
.headerHasil{
    display: flex;
    height: auto;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.lampiran{
    height: auto;
    position: absolute;
    right: 0px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px
}
.isiLampiran{
    height: auto;
    padding: 60px;
    font-size: 12px;
    position: absolute;
    margin-top: 100px;
}
.paraf{
    margin-top: -40px;
    position: absolute;
    right: 0px;
    font-size: 12px;
    padding: 60px;
    bottom: 0px;
}

@media (max-width: 576px){
    .wrapper{
        text-align: center;
    }
    .logo{
        display: flex;
        margin-left: 20px;
    }
    .header .logo img{
        width: 90px;
        height: 90px;
    }
    .formulir{
        background-color: red;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        background-color: #4366A3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header .h1 h1{
        font-size: 18px;
    }
    .slider{
        margin-top: 0;
    }

}        